.jumbotron{
	background-color: #C965EE;
	color: black;
	margin-top: 30px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: lightgray;
	margin-bottom: 0px; 
	margin-top: 10px;

}
.mascotas{
	padding-right: 15%;
	padding-left: 15%;
	width:100%;
	margin:5px 5px 20px 5px;
}
.producto{
	flex: 1 250px;
	margin-top: 10px;

}

.btn-verProducto{
	width: 100%;
	border-radius: 0px;
}

.btn-irSeccion{
	width: 100%;
	background-color:#7527FF;
	color:white;
}

.btn-irSeccion:hover{
	background-color:#4917A2;
	color:white;
}

.footer-address-icon{
	padding-right: 10px;
}

.paddingbtn{
	padding-right: 6px
}

.tab-content{
	margin-top:20px; 
}