.jumbotron {
  background-color: #C965EE;
  color: black;
  margin-top: 30px;
  margin-bottom: 15px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 0px; }

.mascotas {
  padding-right: 15%;
  padding-left: 15%;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px; }

.producto {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

/* pruebas de style */
.pruebaDeStyles1 {
  background-color: #ba0f15;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 2px; }

.pruebaDeStyles2 {
  background-color: #e3a509;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px; }

.pruebaDeStyles3 {
  background-color: #0d6909;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 5px; }

.btn-verProducto {
  width: 100%;
  border-radius: 0px; }

.btn-irSeccion {
  width: 100%;
  background-color: #7527FF;
  color: white; }

.btn-irSeccion:hover {
  background-color: #4917A2;
  color: white; }

.footer-address-icon {
  padding-right: 10px; }

.paddingbtn {
  padding-right: 6px; }

.tab-content {
  margin-top: 20px;
  margin-bottom: 0px; }
