@moradoC: #C965EE;
@morado: #7527FF;
@moradoF: #4917A2;
@amarillo:#e3a509;
@rojo:#ba0f15;
@verde:#0d6909;
.margenes(@top: 0px, @bottom: 0px){
  margin-top:@top;
  margin-bottom:@bottom;
}
.paddings(@arriba: 0px, @derecha: 0px, @abajo: 0px, @izquierda: 0px){
  padding-top:@arriba;
  padding-bottom:@abajo;
  padding-right:@derecha;
  padding-left:@izquierda;
}

  .jumbotron {
    background-color: @moradoC;
    color: black;
    .margenes(30px, 15px);
  }

  footer {
    .paddings(10px, 10px, 0px, 10px);
    background-color: lightgray;
    .margenes(10px);

  }
  .mascotas {
    .paddings(0px, 15%, 0px, 15%);
    width:100%;
    .margenes(5px, 20px);
    margin-left:5px;
    margin-right:5px;
  }
  .producto {
    flex: 1 250px;
    .margenes(10px);

  }
    /* pruebas de style */
  .pruebaDeStyles1{
  background-color:@rojo;
  .paddings(10px,10px,10px,10px);
  .margenes(5px, 2px);
  }
  .pruebaDeStyles2{
  background-color:@amarillo;
  .paddings(5px, 10px, 5px, 10px);
  .margenes(5px, 10px);
  }
  .pruebaDeStyles3{
  background-color:@verde;
  .paddings(0px, 5px, 10px, 0px);
  .margenes(10px, 5px);
  }

  .btn-verProducto {
    width: 100%;
    border-radius: 0px;
  }

  .btn-irSeccion {
    width: 100%;
    background-color: @morado;
    color:white;
  }

  .btn-irSeccion:hover{
    background-color: @moradoF;
    color:white;
  }

  .footer-address-icon{
    .paddings(0px,10px);
  }

  .paddingbtn{
    .paddings(0px,6px);
  }

  .tab-content{
    .margenes(20px,)
  }