$moradoC: #C965EE;
$morado: #7527FF;
$moradoF: #4917A2;
$amarillo:#e3a509;
$rojo:#ba0f15;
$verde:#0d6909;
@mixin margenes($top, $bottom){
	margin-top:$top;
	margin-bottom:$bottom;
}
@mixin paddings($arriba, $derecha, $abajo, $izquierda){
	padding-top:$arriba;
	padding-bottom:$abajo;
	padding-right:$derecha;
	padding-left:$izquierda;
}

	.jumbotron {
		background-color: $moradoC;
		color: black;
		@include margenes(30px, 15px);
	}

	footer {
		padding: 10px 10px 0 10px;
		background-color: lightgray;
		@include margenes(10px, 0px);

	}
	.mascotas {
		padding-right: 15%;
		padding-left: 15%;
		width:100%;
		@include margenes(5px, 20px);
		margin-left:5px;
		margin-right:5px;
	}
	.producto {
		flex: 1 250px;
		@include margenes(10px, 0px);

	}
    /* pruebas de style */
	.pruebaDeStyles1{
	background-color:$rojo;
	@include paddings(10px,10px,10px,10px);
	@include margenes(5px, 2px);
	}
	.pruebaDeStyles2{
	background-color:$amarillo;
	@include paddings(5px, 10px, 5px, 10px);
	@include margenes(5px, 10px);
	}
	.pruebaDeStyles3{
	background-color:$verde;
	@include paddings(0px, 5px, 10px, 0px);
	@include margenes(10px, 5px);
	}

	.btn-verProducto {
		width: 100%;
		border-radius: 0px;
	}

	.btn-irSeccion {
		width: 100%;
		background-color: $morado;
		color:white;
	}

	.btn-irSeccion:hover{
		background-color: $moradoF;
		color:white;
	}

	.footer-address-icon{
		padding-right: 10px;
	}

	.paddingbtn{
		padding-right: 6px
	}

	.tab-content{
		@include margenes(20px, 0px);
	}